:root{
    --color-primary:#22376D;
    --color-secondary:#475a7e;
    --color-forms:rgb(230, 230, 230);
}

*{
    /*border: solid 1px #000;*/
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after{
    box-sizing: border-box;
}

.contentMainBody{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
}
.BodyContainer{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    min-width: 500px;
    width:95%;
    height: auto;
    border: solid 3px var(--color-primary);
    border-radius: 15px;
}
